<% provide(:title, "Contact") %>

<div class="mainCont">
<h1>Contact Us</h1>
<p>We are more than welcome to answer any issues or concerns you have before or after your order!</p>
<p>Choose one of the following ways to contact us!</p>
</div>
