<% provide(:title, "Home") %>

<div class="mainCont">
        <%=render 'layouts/search'%>
        <%= form_tag("/search", :method => "post") do %>
        <% end %>
    </div>
<div class="mainCont">
<%= image_tag("image1.jpg", alt: "Welcome", :class => "welcomeIm") %>    
    
    
<h1>Welcome!</h1>
<p>Come in and spend lots of money :)</p>
<br>
<br>
<p>This is the best place ever!</p>


</div>

<br>

    


